{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="w3l-banner py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="row">
                <div class="col-lg-6 mt-lg-0 about-right-faq align-self">
                    <h3 class="title-toobig">Get more visitors, get more sales.</h3>
                    <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, init
                        ultrices in ligula. Semper at. Lorem ipsum dolor sit amet elit consectetur adipisicing
                        elit. Non quae, ad.</p>
                        <a href="#btn" class="btn link-style p-0 mt-lg-5 mt-4">Start a free trail <span class="fa fa-long-arrow-right"></a>
                 </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                    <div class="position-relative">
                        <img src="assets/images/banner.jpg" alt="" class="img-fluid radius-image-full">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/d67nLyjN4hQ" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- home page about section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="assets/images/dashboard2.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5 align-self">
                    <h3 class="title-big mx-0">Track your progress
                        with our advanced site.</h3>
                    <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum init
                        dolor sit, amet elit, non velit, culpa! nam, minima iste ipsum Non, ad! Pellen
                        libero ut justo, init dolor sit.</p>
                    <a href="#btn" class="btn link-style p-0 mt-lg-5 mt-4">Start a free trail <span
                            class="fa fa-long-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->




<!-- home page about section -->
<section class="w3l-strategy" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <h3 class="title-big mx-0">Understand your visitors fast. Take quick actions.</h3>
                    <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum init
                        dolor sit, amet elit, non velit, culpa! Debitis nam, minima iste ipsum Non, ad! Pellen tesque
                        libero ut justo, init sit.</p>
                    <a href="#btn" class="btn link-style p-0 mt-lg-5 mt-4">Start a free trail <span
                            class="fa fa-long-arrow-right"></a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4">
                    <div class="position-relative">
                        <img src="assets/images/web.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}