<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CreatePro </title>

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
    <!-- for Custom css -->
    {% block css %}{% endblock css %}
</head>

<body>
  
  <!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="navbar-brand" href="/">
                KindSpot
            </a>
            <!-- if logo is image enable this   
        <a class="navbar-brand" href="#index.html">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
        </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demos<span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item active" href="index.html">Agency</a>
                            <a class="dropdown-item @@saas__active" href="saas.html">SaaS Subscription</a>
                            <a class="dropdown-item @@web__active" href="web.html">Web Application</a>
                        </div>
                    </li>
                    <li class="nav-item @@contact__active">
                        <a class="nav-link" href="/news">Info</a>
                    </li>
                    <li class="nav-item @@contact__active">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li>
                        <!--/search-right-->
                        <div class="search-right">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h4 class="mb-3">Search here</h4>
                                    <form action="error.html" method="GET" class="search-box">
                                        <input type="search" placeholder="Enter Keyword" name="search"
                                            required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary">Search</button>
                                    </form>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->
                    </li>
                    <li class="mx-3">
                        <a href="#btn" class="btn btn-style btn-primary">Start a free trail</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- //header -->

    {% block body %}

    {% endblock body %}



    <!-- footer17 -->
    <section class="footer-17">
        <div class="footer17_sur py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="footer17-top">
                    <div class="footer17-top-left1_sur">
                        <h6>Contact Us</h6>
                        <ul>
                            <li><a href="mailto:support@createPro.com">support@createPro.com</a></li>
                            <li><a href="tel:+(21) 255 999 8888">+(21) 255 999 8888</a></li>
                        </ul>
                        <ul class="footers-17_social">
                            <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left2_sur">
                        <h6>Products</h6>
                        <ul>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#pricing">Pricing Plans</a></li>
                            <li><a href="#blog">Latest News</a></li>
                            <li><a href="#help">Help desk</a></li>
                            <li><a href="#support">Support</a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left3_sur">
                        <h6>Company</h6>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#team">Join our team</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="#press">Press release</a></li>
                            <li><a href="#careers">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left4_sur">
                        <h6>Services</h6>
                        <ul>
                            <li><a href="#services">Digital Marketing</a></li>
                            <li><a href="#seo">SEO for Business</a></li>
                            <li><a href="#writing">Content writing</a></li>
                            <li><a href="#design">UI Design</a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left5_sur">
                        <h6>Legal </h6>
                        <ul>
                            <li><a href="#url">Privacy policy</a></li>
                            <li><a href="#url">Terms of use</a></li>
                            <li><a href="#url">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <div class="container">
                    <p class="copy-footer-29">© 2020 CreatePro. All rights reserved | Designed by <a
                            href="https://w3layouts.com" target="_blank">W3layouts</a></p>
                </div>
            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                &#10548;
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </div>
    </section>
    <!-- //footer17 -->

    <!-- Template JavaScript -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>


    <script src="{% static 'assets/js/theme-change.js' %}"></script><!-- theme switch js (light and dark)-->



    <!-- pricing tabs js -->
    <script src="{% static 'assets/js/tabs.js' %}"></script>

    <!-- owlcarousel -->
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>

    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 2,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!-- script for tesimonials agency carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-agency").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials agency carousel slider -->

    <!-- magnific popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tinymce.js' %}"></script>
    {% block js %}{% endblock js %}

</body>

</html>